<div class="container">
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="text-center h3 mb-5 text-gray-800">
            <i class="fas fa-project-diagram"></i>
            <b> Proyecto APP Web </b>
        </h1>
    </div>

    <div class="card shadow">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <p align="center">
                            Este proyecto esta ideado, diseñado y desarrollado con la finalidad de 
                            recoger toda la lógica detrás de una interfaz web realizada en una tecnología 
                            reactiva web como lo es Angular, este proyecto está desarrollado esta dado en una 
                            arquitecura básica de MVC.
                        </p>
                    </div>    
                </div>    
            </div>
        </div>

    </div>

</div>